<!-- Main content -->
<div class="main-content" id="panel" style="margin-left:250px">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Notifications</h6>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a [routerLink]="['/notification']" class="btn btn-sm btn-neutral">Add new Notification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-7">
                        <h3 class="mb-0">Filters</h3>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/notifications']" [queryParams]="{page: 1, type: type, userType: userType}">Filter</button>
                    </div>
                </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Form groups used in grid -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlTextarea2">Type</label>
                            <form>
                                <select [(ngModel)]="type" name="type" class="form-control" data-toggle="select">
                                    <option value="1">Send to All</option>
                                    <option value="2">Send to specified users</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlTextarea2">User Type</label>
                            <form>
                                <select [(ngModel)]="userType" name="userType" class="form-control" data-toggle="select">
                                    <option value="1">Counsellors</option>
                                    <option value="2">Listeners</option>
                                    <option value="3">Clients</option>
                                    <option value="4">Therapists</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Body</th>
                            <th>Sent to</th>
                            <th>Sent Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="response != null">
                        <tr *ngFor="let notification of response.notifications">
                            <td class="table-user">
                                <b>{{ notification.title }}</b>
                            </td>
                            <td>
                                <span class="text-muted">{{ notification.body }}</span>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{ notification.type == '1' ? 'All ': 'Specified ' }}
                                    {{ notification.user_type == '1' ? 'Counsellors': (notification.user_type == '2' ? 'Listeners' : (notification.user_type == '3' ? 'Clients' : 'Therapists')) }}
                                </span>
                            </td>
                            <td>
                                <span class="text-muted">{{ notification.created_at | dateTransform: 'Do MMM @ h:mm a' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" *ngIf="page > 1">
                            <a class="page-link" [routerLink]="['/notifications']" [queryParams]="{page: (page-1), type: type, userType: userType}">
                                <fa-icon [icon]="faAngleLeft "></fa-icon>
                            </a>
                        </li>
                        <li class="page-item" *ngIf="response != null && response.notifications.length > 0">
                            <a class="page-link" [routerLink]="['/notifications']" [queryParams]="{page: (page+1), type: type, userType: userType}">
                                <fa-icon [icon]="faAngleRight "></fa-icon>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="loader-div" *ngIf="loader">
    <div class="loader"></div>
</div>