<!-- Main content -->
<div class="main-content" id="panel" style="margin-left:250px">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Update Client</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body">
                <!-- Form groups used in grid -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">First Name</label>
                            <input [(ngModel)]="firstName" type="text" name="firstName" class="form-control" id="example4cols1Input" placeholder="Shubham">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Last Name</label>
                            <input [(ngModel)]="lastName" type="text" name="lastName" class="form-control" id="example4cols1Input" placeholder="Rathore">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Phone</label>
                            <input [(ngModel)]="phone" type="text" name="phone" class="form-control" id="example4cols1Input" placeholder="919133331111">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Email</label>
                            <input [(ngModel)]="email" type="text" name="email" class="form-control" id="example4cols1Input" placeholder="rajeev@gamil.com">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlTextarea2">Gender</label>
                            <form>
                                <select [(ngModel)]="gender" name="gender" class="form-control" data-toggle="select">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Date of Birth</label>
                            <input [(ngModel)]="dob" type="date" name="dob" class="form-control" id="example4cols1Input" placeholder="2021-10-21">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlTextarea2">Status</label>
                            <form>
                                <select [(ngModel)]="status" name="status" class="form-control" data-toggle="select">
                                    <option value="1">Active</option>
                                    <option value="2">Deleted</option>
                                    <option value="3">Blocked</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-example justify-content-md-center">
            <div class="col col-lg-3">
                <button class="btn btn-primary" type="button" (click)="updateClient()">Submit</button>
            </div>
        </div>
    </div>

</div>

<div class="loader-div" *ngIf="loader">
    <div class="loader"></div>
</div>