<!-- Main content -->
<div class="main-content" id="panel" style="margin-left:250px">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Listeners</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-7">
                        <h3 class="mb-0">Filters</h3>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/listeners']" [queryParams]="{page: 1, name: name, phone: phone, email: email, status: status}">Filter</button>
                    </div>
                </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Form groups used in grid -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Name</label>
                            <input [(ngModel)]="name" type="text" name="name" class="form-control" id="example4cols1Input" placeholder="shubham">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Phone</label>
                            <input [(ngModel)]="phone" type="text" name="phone" class="form-control" id="example4cols1Input" placeholder="919848022338">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="example4cols1Input">Email</label>
                            <input [(ngModel)]="email" type="text" name="email" class="form-control" id="example4cols1Input" placeholder="shivamani@gmail.com">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlTextarea2">Status</label>
                            <form>
                                <select [(ngModel)]="status" name="status" class="form-control" data-toggle="select">
                                    <option value="0">Not Approved</option>
                                    <option value="1">Active</option>
                                    <option value="2">Deleted</option>
                                    <option value="3">Blocked</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Rating</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="response != null">
                        <tr *ngFor="let listener of response.listeners" [routerLink]="['/appointments']" [queryParams]="{counsellor_id: listener.listener_id}">
                            <td>
                                <img *ngIf="listener.photo != ''" style="width: 20px; height: 20px;" [src]="response.media_url + listener.photo" />
                            </td>
                            <td class="table-user">
                                <b>{{ listener.first_name }} {{ listener.last_name }}</b>
                            </td>
                            <td>
                                <span class="text-muted">{{ listener.phone }}</span>
                            </td>
                            <td>
                                <span class="text-muted">{{ listener.email }}</span>
                            </td>
                            <td>
                                <span class="text-muted">{{ listener.average_rating }} ({{ listener.total_rating }})</span>
                            </td>
                            <td>
                                <span class="text-muted">{{ listener.gender }}</span>
                            </td>
                            <td>
                                <span *ngIf="listener.status == '0'" class="text-muted">Not Approved</span>
                                <span *ngIf="listener.status == '1'" class="text-muted">Active</span>
                                <span *ngIf="listener.status == '2'" class="text-muted">Deleted</span>
                                <span *ngIf="listener.status == '3'" class="text-muted">Blocked</span>
                            </td>
                            <td class="table-actions">
                                <fa-icon [icon]="faPen " [routerLink]="['/listener']" [queryParams]="{listener_id: listener.listener_id}"></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" *ngIf="page > 1">
                            <a class="page-link" [routerLink]="['/listeners']" [queryParams]="{page: (page-1), name: name, phone: phone, email: email, status: status}">
                                <fa-icon [icon]="faAngleLeft "></fa-icon>
                            </a>
                        </li>
                        <li class="page-item" *ngIf="response != null && response.listeners.length > 0">
                            <a class="page-link" [routerLink]="['/listeners']" [queryParams]="{page: (page+1), name: name, phone: phone, email: email, status: status}">
                                <fa-icon [icon]="faAngleRight "></fa-icon>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="loader-div" *ngIf="loader">
    <div class="loader"></div>
</div>